includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/larastan/larastan/extension.neon
	- vendor/phpstan/phpstan-mockery/extension.neon
parameters:
	level: max
	paths:
		- src
		- tests
	exceptions:
		reportUncheckedExceptionDeadCatch: true
		implicitThrows: false
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
